<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Etiqueta para invocar -->
<dom-module id="visor-cuenta">
 <!-- Parte que pinta -->
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<!--    <h2>Hello [[prop1]]!</h2> -->
    <h2>Datos de Cuenta</h2>
    <h3>IBAN: [[iban]]</h3>
    <h3>User_id: [[user_id]]</h3>
    <h3>balance: [[balance]]</h3>
    <iron-ajax
        auto=""
        id="getAccount"
        url="http://localhost:3000/apitechu/v2/users/{{user_id}}/account"
        handle-as="json"
        on-response="showData"/>
  </template>

<!-- Ejecución de script -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
    //      prop1: {
    //        type: String
    //       value: 'frontproyecto-app'
    //      }
           iban: {
              type: String
           }, user_id: {
              type: Number
           }, balance: {
              type: Number
           }
        };
      }
      showData(data){
          console.log("showData");
          console.log(data.detail.response[0]);
          this.iban = data.detail.response[0].iban;
          this.user_id = data.detail.response[0].user_id;
          this.balance = data.detail.response[0].balance;
      }
    }

    // Añade la etiqueta de polimer para engancharlo
    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
