<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Etiqueta para invocar -->
<dom-module id="frontproyecto-app">
 <!-- Parte que pinta -->
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<!--    <h2>Hello [[prop1]]!</h2> -->
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h2>y tengo [[age]] años</h2>
    <input type="text" value="{{first_name::input}}"/>
    <input type="text" value="{{last_name::input}}"/>
    <input type="range" min="18" value="{{age::input}}" max="70"/>
    <!-- pilla los datos de la propiedad prop1 (no cambia valor si se modifica por pantalla, si no iria con llaves) -->
  </template>
<!-- Ejecución de script -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
    //      prop1: {
    //        type: String
    //       value: 'frontproyecto-app'
    //      }
           first_name: {
              type: String
           }, last_name: {
              type: String
           }, age: {
              type: Number
         }
        };
      }
    }
    // Añade la etiqueta de polimer para engancharlo
    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
