<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Etiqueta para invocar -->
<dom-module id="login-usuario">
 <!-- Parte que pinta -->
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<!--    <h2>Hello [[prop1]]!</h2> -->
    <h2>Login de Usuario</h2>
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button on-click="login">Login</button>
    <iron-ajax
        id="doLogin"
        method="POST"
        url="http://localhost:3000/apitechu/v2/login"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError"/>
  </template>

<!-- Ejecución de script -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
    //      prop1: {
    //        type: String
    //       value: 'frontproyecto-app'
    //      }
           id: {
              type: Number
           }, first_name: {
              type: String
           }, last_name: {
              type: String
           }, email: {
              type: String
          },  password: {
              type: String
         }
        };
      }
      showData(data){
          console.log("showData");
          console.log(data.detail.response);
          this.first_name = data.detail.response.first_name;
          this.last_name = data.detail.response.last_name;
          this.email = data.detail.response.email;
      }
      login(){
          console.log("Botón login pulsado");
          var loginData  = {
            "email": this.email,
            "password": this.password
          }
          // estamos cediendo al DOM con el dolar
          this.$.doLogin.body = JSON.stringify(loginData);
          // petición con todo lo que tenemos
          this.$.doLogin.generateRequest();
          console.log("Petición enviada");

      }
      manageAJAXResponse(data)
      {
        console.log("Respuesta recibida");
        console.log(data.detail.response);
      }
      showError(error)
      {
        console.log("Hubo un error");
        console.log(error);
      }
    }

    // Añade la etiqueta de polimer para engancharlo
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
